<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Restablecer Contrase침a</h1>

  <p>Hola <%= @user.name %>,</p>

  <p>Has solicitado restablecer tu contrase침a. Haz clic en el siguiente enlace para crear una nueva:</p>

  <p><%= link_to "Restablecer Contrase침a", @reset_url %></p>

  <p>Este enlace expirar치 en 2 horas.</p>

  <p>Si no solicitaste esto, puedes ignorar este correo.</p>

  <p>Saludos,<br>El Equipo</p>
</body>
</html>
